body{
    text-align: center;
    text-size-adjust: 100px;
    text-shadow: 1px 1px 2px green;
    text-transform: capitalize;

    /* background-image:url(images.jpg); */

    background-attachment: fixed;
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    /* background-repeat:repeat-x; */

}
